<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.library.common">

    <uses-permission android:name="android.permission.INTERNET" />  <!-- 允许程序访问有关网络权限 -->

    <application>
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".mvvm.MVVMBaseActivity" />
    </application>
</manifest>
